@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Muli:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Nunito:wght@400;600;800&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Muli";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Muli";
}

input::-ms-clear {
	display: none;
}

input::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #333333;
	font-size: 12px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	background: #F5FAFE;
}
.container {
	max-width: 1110px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1122px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	background: #EC1F46;
	border-radius: 4px;
	color: #fff;
}
.btn:hover {
	background: #b50a2b;
}
.btn.fw {
	width: 100%;
}

.select-block {
	position: relative;
}

.select__label {
	z-index: 2;
	position: absolute;
	top: -8px;
	background-color: #f7f7f7;
	padding: 0 5px;
	color: #979797;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	left: 20px;
}

.select {
	position: relative;
	cursor: pointer;
}
.select .select-title {
	z-index: 1;
	width: 100%;
	height: 55px;
	border: 1px solid #dedede;
	position: relative;
	background-color: #fff;
}
.select .select-title__arrow {
	position: absolute;
	top: 0;
	right: 0px;
	width: 45px;
	height: 100%;
	background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 53px;
	display: block;
	overflow: hidden;
	padding: 0 45px 0 25px;
	white-space: nowrap;
	text-transform: none;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.select .select-options {
	position: absolute;
	z-index: 10;
	top: 54px;
	display: none;
	overflow: hidden;
	min-width: 100%;
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
	max-height: 80px;
	overflow: auto;
}
.select .select-options-list {
	padding: 0px 0px 0px 0px;
}
.select .select-options__value {
	color: #000;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
	margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
	color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input-f {
	width: 100%;
	height: 50px;
	display: block;
	padding: 0px 23px;
	border-radius: 4px;
	font-size: 12px;
	line-height: 15px;
	color: #BDBDBD;
}
.input {
	border-radius: 0 !important;
	width: 285px;
	display: block;
	padding: 0px 20px;
}
@media (max-width: 767.98px) {
	.input {
		width: auto;
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
	font-size: 12px;
	line-height: 15px;
	color: #BDBDBD;
	height: 100%;
	width: 100%;
	padding: 18px 0px 0px 23px;
}

.check {
	position: relative;
	padding-left: 25px;
	color: #5f5f5f;
	line-height: 18px;
	cursor: pointer;
}
.check input {
	display: none;
}
.check:before {
	content: "";
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #a3a3a3;
	position: absolute;
}
.check.active:before {
	background: url("../img/icons/check.png") center no-repeat;
}

.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
}
.option:last-child {
	margin-bottom: 0px;
}
.option input {
	display: none;
}
.option:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	content: "";
	border: 1px solid #7f7f7f;
	border-radius: 50%;
}
.option.active:before {
	background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
	display: table;
	font-size: 0;
}

.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.rating.edit .star {
	cursor: pointer;
}
.rating .star {
	width: 17px;
	height: 14px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}

.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}

.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}

.quantity {
	position: relative;
	width: 73px;
	height: 47px;
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
}

.quantity__input {
	height: 45px;
	width: 50px;
	text-align: center;
	color: #101010;
	font-weight: 300;
}

.quantity__btn {
	position: absolute;
	top: 11px;
	right: 15px;
	cursor: pointer;
}
.quantity__btn:before {
	font-size: 25px;
	display: inline-block;
	line-height: 10px;
	color: #a9a9a9;
}
.quantity__btn:hover:before {
	color: #da0005;
}
.quantity__btn.dwn {
	top: 25px;
}

.category-params-item-price-table {
	margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
	padding-right: 15px;
	position: relative;
}
.category-params-item-price-table .cell:first-child:after {
	content: "-";
	position: absolute;
	right: -4px;
	top: 8px;
	font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
	padding-left: 15px;
}
.category-params-item-price-table .cell input {
	height: 37px;
	border: 2px solid #393939;
	background-color: #ffffff;
	text-align: center;
	font-size: 12px;
	color: #393939;
	font-weight: 500;
	width: 100%;
}

.category-params-item-price-range {
	margin: 0 12px 40px 12px;
	background-color: #c9cecf;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-range {
	background-color: #000;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-handle {
	width: 23px;
	height: 28px;
	border: 3px solid #fbfbfb;
	background-color: #ea5922;
	display: block;
	position: absolute;
	top: -14px;
	margin-left: -12px;
	cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
	position: absolute;
	bottom: -18px;
	left: 50%;
	width: 50px;
	text-align: center;
	font-size: 10px;
	margin-left: -25px;
	font-weight: 500;
	color: #94a6aa;
}

.form__info {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 0;
	top: 0;
	line-height: 60px;
	text-align: center;
	color: #888;
	z-index: 2;
	font-size: 14px;
}
@media (max-width: 767.98px) {
	.form__info {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}

.form-range-line {
	position: relative;
	height: 5px;
	border-radius: 0 0 4px 4px;
	background-color: #e0e0e0;
	margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
	background-color: #093454;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
	background: url("../img/icons/range.svg") 0 0 no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	margin: -9px 0px 0px -14px;
	top: 0;
	left: 0;
	cursor: pointer;
}
.form-range-line .ui-state-hover {
	background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 14px 0px 0px 0px;
}

.form-range-values__item {
	font-size: 12px;
	color: #888;
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

.graystyle {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
}
.baloon button {
	display: none !important;
}
.baloon:after {
	display: none !important;
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
	overflow: hidden !important;
	max-width: none !important;
}
.baloon-content.gm-style-iw:after {
	display: none !important;
}

.baloon-close {
	top: 18px !important;
}

.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed !important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 100;
}
.popup.active .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.popup.show {
	display: block;
}
.popup.show .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.popup-table {
	height: 100%;
	table-layout: fixed;
}
.popup-table > .cell {
	height: 100%;
	vertical-align: middle;
	padding: 30px 10px;
}

.popup-content {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	max-width: 1230px;
	margin: 0px auto;
	background-color: #fff;
}

.popup-close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
	width: 40px;
	height: 40px;
	background-color: #000;
	top: 0;
	right: 0;
}

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.header__contacts {
	background-color: #F5FAFE;
	padding: 20px 0px;
}
@media (max-width: 991.98px) {
	.header__contacts {
		padding: 15px 0px;
	}
}
@media (max-width: 767.98px) {
	.header__contacts {
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		background-color: #fff;
	}
}
.header__info {
	padding: 40px 0px;
	background-color: #fff;
}
@media (max-width: 991.98px) {
	.header__info {
		padding: 30px 0px;
	}
}
@media (max-width: 767.98px) {
	.header__info {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		padding: 15px 0px;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 40;
	}
}
.header__nav {
	background-color: #0A223D;
	padding: 31px 0px;
}
@media (max-width: 991.98px) {
	.header__nav {
		padding: 25px 0px;
	}
}
@media (max-width: 767.98px) {
	.header__nav {
		display: none;
	}
}

.contacts__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 10px;
	line-height: 13px;
}
.contacts__row a {
	color: #333333;
}
@media (max-width: 767.98px) {
	.contacts__row {
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		color: #fff;
		display: block;
		margin: 30px 0px 0px 0px;
	}
	.contacts__row a {
		color: #fff;
		display: block;
	}
}
@media (max-width: 767.98px) {
	.contacts__call {
		margin: 0px 0px 10px 0px;
	}
}
.contacts__call span {
	font-weight: bold;
	font-size: 10px;
}
@media (max-width: 767.98px) {
	.contacts__tell {
		display: inline-block;
	}
}
.contacts__card {
	margin-left: auto;
	line-height: 18px;
	padding: 0px 0px 0px 38px;
	background: url("../img/icons/gift.svg") center left no-repeat;
}
@media (max-width: 767.98px) {
	.contacts__card {
		margin: 0px 0px 10px 0px;
		background: url("../img/icons/gift — white.svg") center left no-repeat;
	}
}
.contacts__program {
	margin: 0px 0px 0px 98px;
	padding: 0px 0px 0px 38px;
	line-height: 18px;
	background: url("../img/icons/star.svg") center left no-repeat;
}
@media (max-width: 767.98px) {
	.contacts__program {
		margin: 0px 0px 0px 0px;
		background: url("../img/icons/star — white.svg") center left no-repeat;
	}
}

.info_row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.info__title {
	font-family: Luckiest Guy;
	font-size: 24px;
	line-height: 24px;
	margin: 0px 105px 0px 0px;
	color: #333333;
}
@media (max-width: 1122px) {
	.info__title {
		margin: 0px 80px 0px 0px;
	}
}
@media (max-width: 1122px) {
	.info__title {
		margin: 0px 50px 0px 0px;
	}
}
@media (max-width: 767.98px) {
	.info__title {
		margin: 0px 0px 0px 0px;
	}
}
.info__title span {
	color: #EC1F46;
}
.info__search {
	position: relative;
	height: 40px;
	margin: 0px auto;
}
.info__search-location {
	height: 100%;
	background-color: #F5FAFE;
	padding: 0px 155px 0px 23px;
	border-radius: 6px 0px 0px 6px;
}
@media (max-width: 991.98px) {
	.info__search-location {
		padding: 0px 70px 0px 23px;
	}
}
@media (max-width: 767.98px) {
	.info__search-location {
		width: 100%;
	}
}
.info__search button {
	background: url("../img/icons/search.svg") center center no-repeat;
	background-color: #EC1F46;
	position: absolute;
	border-radius: 0px 6px 6px 0px;
	top: 0;
	right: 0;
	width: 65px;
	height: 40px;
}
@media (max-width: 991.98px) {
	.info__search button {
		width: 50px;
	}
}
.info__buy {
	background: url("../img/icons/shopping-cart.svg") center center no-repeat;
	position: relative;
	height: 34px;
	width: 34px;
	margin: 0px 0px 0px auto;
}
.info__buy span {
	position: absolute;
	font-size: 10px;
	background-color: #EC1F46;
	color: #fff;
	top: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 17px;
}
@media (max-width: 479.98px) {
	.info__buy {
		margin: 0px 50px 0px 0px;
	}
}
.info__person {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0px 0px 0px 53px;
	cursor: pointer;
}
@media (max-width: 991.98px) {
	.info__person {
		margin: 0px 0px 0px 30px;
	}
}
@media (max-width: 767.98px) {
	.info__person {
		margin: 0px 60px 0px 30px;
	}
}
@media (max-width: 479.98px) {
	.info__person {
		margin: 0px 0px 15px 0px;
	}
}
.info__photo {
	margin: 0px 18px 0px 0px;
}
.info__photo img {
	-o-object-fit: cover;
	   object-fit: cover;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
@media (max-width: 991.98px) {
	.info__photo {
		margin: 0px 12px 0px 0px;
	}
}
.info__name {
	font-size: 14px;
	line-height: 18px;
	margin: 0px 18px 0px 0px;
}
@media (max-width: 479.98px) {
	.info__name {
		color: #fff;
	}
}
.info__arrow {
	background: url("../img/icons/arrow.svg") 0 0 no-repeat;
	width: 14px;
	height: 8px;
}
@media (max-width: 479.98px) {
	.info__arrow {
		display: none;
	}
}

.nav__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 767.98px) {
	.nav__row {
		display: block;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}
	.nav__row a {
		display: block;
		margin: 0px 0px 15px 0px;
	}
	.nav__row a:last-child {
		margin: 0px 0px 0px 0px;
	}
}
.nav__column {
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
	position: relative;
}
.nav__column:after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: #fff;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.nav__column:hover:after {
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
}
@media (max-width: 767.98px) {
	.nav__column:after {
		height: 0px;
	}
}

.header-menu__icon {
	display: none;
}

@media (max-width: 767.98px) {
	.header-menu__icon {
		display: block;
		position: absolute;
		top: 23px;
		right: 15px;
		width: 25px;
		height: 18px;
		cursor: pointer;
		z-index: 50;
	}
	.header-menu__icon span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
	}
	.header-menu__icon span:first-child {
		top: 0px;
	}
	.header-menu__icon span:last-child {
		top: auto;
		bottom: 0px;
	}
	.header-menu__icon.active span {
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.header-menu__icon.active span:first-child {
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 8px;
	}
	.header-menu__icon.active span:last-child {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom: 8px;
	}

	.header__menu {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto;
		left: -100%;
		top: 60px;
		padding: 30px 10px 0px 20px;
		background-color: #0a223d;
		opacity: 0.98;
		-webkit-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-size: 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		z-index: 50;
	}
	.header__menu.active {
		left: 0;
	}
}
.footer {
	padding: 108px 0px 46px 0px;
	background: #0A223D;
}
@media (max-width: 1122px) {
	.footer {
		padding: 50px 0px 46px 0px;
	}
}
@media (max-width: 767.98px) {
	.footer {
		padding: 30px 0px 20px 0px;
	}
}
.footer__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px 90px -15px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (max-width: 1122px) {
	.footer__top {
		margin: 0px -15px 50px -15px;
	}
}
@media (max-width: 767.98px) {
	.footer__top {
		margin: 0px -15px 20px -15px;
	}
}
.footer__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 25%;
	        flex: 0 1 25%;
	padding: 0px 15px;
}
@media (max-width: 991.98px) {
	.footer__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 50%;
		        flex: 0 1 50%;
		margin: 0px 0px 20px 0px;
	}
	.footer__column:last-child {
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 479.98px) {
	.footer__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}
.footer__column a {
	display: block;
}
.footer__column_social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.footer__column_left {
	padding: 0px 0px 0px 60px;
}
@media (max-width: 1122px) {
	.footer__column_left {
		padding: 0px 0px 0px 40px;
	}
}
@media (max-width: 991.98px) {
	.footer__column_left {
		padding: 0px 15px 0px 15px;
	}
}
.footer__logo {
	font-family: Luckiest Guy;
	font-size: 64px;
	line-height: 115%;
	color: #fff;
}
.footer__logo span {
	color: #EC1F46;
}
@media (max-width: 1122px) {
	.footer__logo {
		text-align: center;
	}
}
.footer__title {
	padding: 0px 0px 20px 0px;
}
.footer__block-link {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
.footer__link {
	font-size: 14px;
	line-height: 160%;
	color: #BDBDBD;
	position: relative;
}
.footer__link:hover {
	color: #fff;
}
.footer__social {
	position: relative;
}
.footer__block-social {
	position: absolute;
	top: 0;
	left: 210px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.footer__block-social:first-child {
	margin: 0px 0px 0px 0px;
}
@media (max-width: 1122px) {
	.footer__block-social {
		left: 190px;
	}
}
.footer__link-social {
	margin: 0px 12px 0px 0px;
	display: inline-block;
}
.footer__link-social:hover {
	-ms-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.footer__contact {
	margin: 0px -15px 95px -15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
@media (max-width: 1122px) {
	.footer__contact {
		margin: 0px -15px 50px -15px;
	}
}
@media (max-width: 767.98px) {
	.footer__contact {
		display: block;
	}
}
.footer__contact-column {
	padding: 0px 15px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
}
.footer__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 767.98px) {
	.footer__bottom {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}
@media (max-width: 479.98px) {
	.footer__bottom {
		display: block;
	}
}
@media (max-width: 479.98px) {
	.footer__bottom-link {
		margin: 0px 0px 10px 0px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-size: 0;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.footer__bottom-link a {
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
	margin: 0px 10px 0px 0px;
	position: relative;
}
.footer__bottom-link a:after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0px;
	width: 100%;
	height: 1px;
	background-color: #BDBDBD;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.footer__bottom-link a:hover:after {
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
}
.footer__bottom-pay {
	margin: 0px 0px 0px 277px;
}
@media (max-width: 767.98px) {
	.footer__bottom-pay {
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 479.98px) {
	.footer__bottom-pay img {
		margin: 0 auto;
		display: block;
	}
}

.itemf__details {
	padding: 10px 0px 0px 0px;
	color: #BDBDBD;
	font-size: 14px;
	line-height: 160%;
}
.itemf__title {
	padding: 0px 0px 25px 0px;
}
.itemf__text {
	padding: 0px 0px 22px 0px;
}
.itemf__contacts {
	max-width: 485px;
}
.itemf__contacts li {
	margin: 0px 0px 30px 0px;
}
.itemf__contacts:first-child {
	margin: 0px 0px 0px 0px;
}
.itemf__contacts_location {
	background: url("../img/Footer/contacts/1.svg") left 3px no-repeat;
	line-height: 24px;
	padding: 0px 0px 0px 41px;
}
.itemf__contacts_tel {
	background: url("../img/Footer/contacts/2.svg") left 3px no-repeat;
	padding: 0px 0px 0px 41px;
}
.itemf__contacts_email {
	background: url("../img/Footer/contacts/3.svg") left 3px no-repeat;
	padding: 0px 0px 0px 41px;
}

.form__title {
	margin: 0px 0px 34px 0px;
}
.form__input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px 0px 15px 0px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.form__name {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 46%;
	        flex: 0 1 46%;
}
.form__tel {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 46%;
	        flex: 0 1 46%;
}
.form__message {
	height: 123px;
	border-radius: 4px;
	overflow: hidden;
	margin: 0px 0px 22px 0px;
}
.form__send {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.form__send-btn {
	width: 160px;
	height: 50px;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}
.form__footnote {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #E0E0E0;
}

.h4 {
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.h1 {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
}
@media (max-width: 991.98px) {
	.h2 {
		font-size: 30px;
	}
}

.h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
}

.hotel {
	padding: 0px 0px 68px 0px;
}
@media (max-width: 1122px) {
	.hotel {
		padding: 0px 0px 40px 0px;
	}
}
@media (max-width: 767.98px) {
	.hotel {
		padding: 0px 0px 20px 0px;
	}
}
.hotel__row-link {
	padding: 19px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.hotel__row-link span {
	font-size: 10px;
	line-height: 13px;
}
@media (max-width: 767.98px) {
	.hotel__row-link {
		padding: 20px 0px 0px 0px;
	}
}
.hotel__link {
	font-size: 10px;
	line-height: 13px;
	color: #333333;
}
.hotel__row-name {
	padding: 23px 0px 20px 0px;
}
@media (max-width: 767.98px) {
	.hotel__row-name {
		padding: 5px 0px 20px 0px;
	}
}
.hotel__stars {
	background: url("../img/Section1/Star.svg") center left space;
	width: 47px;
	height: 8px;
}
.hotel__description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0px 0px -8px 0px;
}
.hotel__subtitle {
	font-size: 12px;
	line-height: 15px;
}
.hotel__title {
	margin: 0px 14px 0px 0px;
}
@media (max-width: 479.98px) {
	.hotel__title {
		margin: 0px 0px 10px 0px;
	}
}
.hotel__offer {
	margin: 0px auto 0px 0px;
	width: 70px;
	font-weight: 600;
	font-size: 10px;
	color: #FFF;
	background: #EC1F46;
	border-radius: 3px;
	text-align: center;
	line-height: 13px;
	padding: 4px 0px;
}
@media (max-width: 479.98px) {
	.hotel__offer {
		display: none;
	}
}
.hotel__ratting {
	background: #EC1F46;
	border-radius: 4px;
	width: 65px;
	color: #FFF;
	text-align: center;
	padding: 8px 0px;
}
@media (max-width: 479.98px) {
	.hotel__ratting {
		display: none;
	}
}
.hotel__ratting_title {
	font-weight: 600;
	font-size: 8px;
	line-height: 10px;
	margin: 0px 0px 2px 0px;
}
.hotel__ratting_bold {
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
}
.hotel__ratting_bold span {
	font-size: 10px;
	line-height: 13px;
}
.hotel__row-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
}
@media (max-width: 767.98px) {
	.hotel__row-img {
		display: block;
	}
}
.hotel__img {
	height: 450px;
	border-radius: 8px;
	overflow: hidden;
}
@media (max-width: 479.98px) {
	.hotel__img {
		height: auto;
	}
}
.hotel__img:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
	background: -o-linear-gradient(top, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
	background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}
.hotel__img img {
	height: 100%;
	max-width: 100%;
}
@media (max-width: 991.98px) {
	.hotel__img img {
		-o-object-fit: none;
		   object-fit: none;
	}
}
@media (max-width: 767.98px) {
	.hotel__img img {
		-o-object-fit: fill;
		   object-fit: fill;
	}
}
@media (max-width: 479.98px) {
	.hotel__img img {
		-o-object-fit: contain;
		   object-fit: contain;
		height: auto;
	}
}
.hotel__slider {
	min-width: 0;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 65.6%;
	        flex: 0 0 65.6%;
	position: relative;
}
@media (max-width: 1122px) {
	.hotel__slider {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 55%;
		        flex: 0 0 55%;
	}
}
@media (max-width: 767.98px) {
	.hotel__slider {
		margin: 0px 0px 15px 0px;
	}
}
.hotel__slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 10px;
	height: 18px;
}
.hotel__slider .slick-arrow.slick-prev {
	left: 26px;
	background: url("../img/Section1/arrow-left.svg") 0 0/100% no-repeat;
}
.hotel__slider .slick-arrow.slick-next {
	right: 26px;
	background: url("../img/Section1/arrow-right.svg") 0 0/100% no-repeat;
}
.hotel__columns {
	margin: -15px 0px -15px 30px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media (max-width: 767.98px) {
	.hotel__columns {
		margin: 0px 0px 0px 0px;
	}
}
.hotel__column {
	padding: 15px 0px 15px 0px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
}
@media (max-width: 767.98px) {
	.hotel__column {
		height: 210px;
	}
}
.hotel__card {
	padding: 29px 29px 26px 26px;
	font-family: Nunito;
	color: #FFFFFF;
	background: #0A223D;
	border-radius: 8px;
}
.hotel__card-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0px 0px 9px 0px;
}
.hotel__card-price_title {
	font-size: 10px;
	line-height: 14px;
}
.hotel__card-price_price {
	font-weight: 800;
	font-size: 24px;
	line-height: 28px;
}
.hotel__card-price_subtitle {
	font-size: 12px;
	line-height: 16px;
}
.hotel__card-person {
	font-size: 12px;
	line-height: 16px;
}
.hotel__card-person_guest {
	margin: 0px 0px 8px 0px;
	background: url("../img/Section1/user.svg") center left no-repeat;
	padding: 0px 0px 0px 23px;
}
.hotel__card-person_room {
	background: url("../img/Section1/home.svg") center left no-repeat;
	padding: 0px 0px 0px 23px;
}
.hotel__card-booking {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0px 0px 17px 0px;
}
.hotel__card-booking_booking {
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}
.hotel__card-booking_tel {
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	background: url("../img/Section1/phone-call.svg") center left no-repeat;
	padding: 0px 0px 0px 22px;
}
.hotel__card-btn {
	width: 100%;
	font-family: Nunito;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	padding: 13px 0px;
	text-align: center;
}
.hotel__map {
	height: 100%;
	border-radius: 8px;
}

.details {
	padding: 0px 0px 65px 0px;
}
@media (max-width: 1122px) {
	.details {
		padding: 0px 0px 40px 0px;
	}
}
@media (max-width: 479.98px) {
	.details {
		padding: 0px 0px 20px 0px;
	}
}

.tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0px 0px 58px 0px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (max-width: 1122px) {
	.tabs {
		padding: 0px 0px 30px 0px;
	}
}
@media (max-width: 767.98px) {
	.tabs {
		padding: 0px 0px 20px 0px;
	}
}
.tabs__title {
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
	margin: 0px 10px 0px 0px;
}
@media (max-width: 991.98px) {
	.tabs__title {
		font-size: 12px;
	}
}
@media (max-width: 767.98px) {
	.tabs__title {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
		font-size: 14px;
		margin: 0px 0px 15px 0px;
		padding: 0px 10px 0px 0px;
	}
}
.tabs__title.active {
	color: #EC1F46;
	position: relative;
}
.tabs__title.active:after {
	content: "";
	position: absolute;
	border-bottom: 4px solid #EC1F46;
	width: 100%;
	bottom: -15px;
	left: 0px;
}
@media (max-width: 767.98px) {
	.tabs__title.active:after {
		width: 0%;
	}
}
.summery__title {
	padding: 0px 0px 29px 0px;
}
.summery__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0px -16px 33px -16px;
}
@media (max-width: 479.98px) {
	.summery__row {
		margin: 0px -16px 0px -16px;
	}
}
.summery__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
	padding: 0px 16px;
}
@media (max-width: 479.98px) {
	.summery__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}
.summery__item {
	border-radius: 8px 8px 8px 0px;
	overflow: hidden;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media (max-width: 479.98px) {
	.summery__item {
		padding: 0px 0px 20px 0px;
	}
}
.summery__package-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	background: #FFFFFF;
	padding: 27px 24px 27px 24px;
}
@media (max-width: 767.98px) {
	.summery__package-wrapper {
		display: none;
	}
}
.summery__offer-wrapper {
	background: #FFFFFF;
	padding: 29px 28px 18px 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
@media (max-width: 767.98px) {
	.summery__offer-wrapper {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		display: none;
	}
}
.summery__offer-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.summery__offer-column_left {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 205px;
	        flex: 0 1 205px;
}
@media (max-width: 767.98px) {
	.summery__offer-column_left {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 auto;
		        flex: 0 1 auto;
	}
}
.summery__offer-item {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	font-size: 12px;
	line-height: 16px;
	padding: 0px 10px 0px 38px;
	background: url("../img/Section2/item.svg") top left no-repeat;
}
@media (max-width: 767.98px) {
	.summery__offer-item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 auto;
		        flex: 0 1 auto;
	}
}
.summery__offer-note {
	font-size: 10px;
	line-height: 13px;
	padding: 0px 0px 0px 37px;
}
@media (max-width: 479.98px) {
	.summery__offer-note {
		margin: 0px 0px 10px 0px;
	}
}
.summery__offer-date {
	font-size: 14px;
	line-height: 18px;
	padding: 0px 0px 0px 37px;
	background: url("../img/Section2/cal.svg") center left no-repeat;
}
.summery__card {
	border-radius: 8px;
	overflow: hidden;
}

.card-details__wrapper {
	padding: 38px 24px 58px 24px;
	background-color: #fff;
}
@media (max-width: 1122px) {
	.card-details__wrapper {
		padding: 38px 24px 35px 24px;
	}
}
@media (max-width: 767.98px) {
	.card-details__wrapper {
		display: none;
	}
}
@media (max-width: 479.98px) {
	.card-details__wrapper {
		padding: 20px 24px 20px 24px;
	}
}
.card-details__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0px -10px;
}
.card-details__row_bottom {
	padding: 0px 0px 43px 0px;
	position: relative;
}
.card-details__row_bottom:after {
	content: "";
	position: absolute;
	border-bottom: 1px dashed #E0E0E0;
	width: 100%;
	bottom: 0px;
	left: 0px;
}
.card-details__row_top {
	padding: 32px 0px 0px 0px;
}
.item-row {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333%;
	        flex: 0 0 33.333%;
	padding: 0px 10px;
}
@media (max-width: 991.98px) {
	.item-row {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 50%;
		        flex: 1 0 50%;
		margin: 0px 0px 30px 0px;
	}
	.item-row:last-child {
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 479.98px) {
	.item-row {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
	}
}
.item-row__title {
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	color: #EC1F46;
	margin: 0px 0px 21px 0px;
}

.item__text {
	margin: 0px 0px 21px 0px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333%;
	        flex: 0 0 33.333%;
}
.item__text:last-child {
	margin: 0px 0px 0px 0px;
}

.package-summery__title {
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
	background-color: #0A223D;
	padding: 16px 0px 16px 24px;
	cursor: pointer;
}
@media (max-width: 767.98px) {
	.package-summery__title {
		border-radius: 8px;
		overflow: hidden;
	}
}
.package-summery__title.active {
	color: #ff6a85;
	border-radius: 8px 8px 0px 0px;
}
.package-summery__item {
	margin: 0px 0px 21px 0px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
}
.package-summery__item:last-child {
	margin: 0px 0px 0px 0px;
}
@media (max-width: 767.98px) {
	.package-summery__item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
	}
}

.item {
	font-size: 12px;
	line-height: 16px;
	padding: 0px 10px 0px 38px;
	background: url("../img/Section2/item.svg") center left no-repeat;
}

.packages {
	padding: 4px 0px 40px 0px;
}
@media (max-width: 1122px) {
	.packages {
		padding: 4px 0px 20px 0px;
	}
}
.packages__title {
	margin: 0px 0px 65px 0px;
}
@media (max-width: 1122px) {
	.packages__title {
		margin: 0px 0px 40px 0px;
	}
}
@media (max-width: 991.98px) {
	.packages__title {
		margin: 0px 0px 30px 0px;
	}
}
.packages__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 1122px) {
	.packages__wrapper {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.packages__main-card {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 730px;
	        flex: 0 0 730px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	border-radius: 8px 8px 8px 8px;
	overflow: hidden;
	margin: 0px 0px 30px 0px;
}
@media (max-width: 991.98px) {
	.packages__main-card {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 730px;
		        flex: 1 0 730px;
	}
}
@media (max-width: 767.98px) {
	.packages__main-card {
		height: 300px;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
	}
}
.packages__card {
	border-radius: 8px;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 0px 0px 30px 0px;
}
@media (max-width: 1122px) {
	.packages__card {
		margin: 0px 15px 30px 15px;
	}
}
@media (max-width: 991.98px) {
	.packages__card {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		margin: 0px 0px 25px 0px;
	}
}
@media (max-width: 767.98px) {
	.packages__card {
		height: 248px;
		width: 100%;
	}
}
@media (max-width: 479.98px) {
	.packages__card {
		width: 100%;
	}
}

.main-card {
	position: relative;
}
.main-card__img {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
}
.main-card__img img {
	max-width: 100%;
}
@media (max-width: 767.98px) {
	.main-card__img img {
		height: 100%;
		width: 100%;
	}
}
@media (max-width: 479.98px) {
	.main-card__img {
		display: none;
	}
}
.main-card__flash-offer {
	position: relative;
}
.main-card__flash-offer:after {
	content: "Flash Offer";
	position: absolute;
	font-family: Muli;
	padding: 8px 16px;
	top: 30px;
	left: 0px;
	font-weight: 600;
	font-size: 12px;
	color: #FFF;
	background: #EC1F46;
	border-radius: 0px 4px 4px 0px;
}
.main-card__offer {
	padding: 60px 20px 30px 44px;
	color: #FFFFFF;
	background: #0A223D;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
}
@media (max-width: 767.98px) {
	.main-card__offer {
		padding: 40px 20px 20px 20px;
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 65%;
		        flex: 1 0 65%;
	}
}
.main-card__title {
	margin: 0px 0px 27px 0px;
	position: relative;
}
.main-card__title:after {
	content: "";
	position: absolute;
	background: url("../img/Section1/Star.svg") center left space;
	width: 47px;
	height: 8px;
	top: -9px;
	left: 0px;
}
.main-card__text {
	font-size: 14px;
	line-height: 160.6%;
	margin: 0px 0px 42px 0px;
}
@media (max-width: 767.98px) {
	.main-card__text {
		display: none;
	}
}

.card__img {
	width: 350px;
}
.card__img img {
	max-width: 100%;
}
@media (max-width: 767.98px) {
	.card__img img {
		height: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
	}
}
@media (max-width: 991.98px) {
	.card__img {
		width: auto;
	}
}
@media (max-width: 767.98px) {
	.card__img {
		height: 100%;
	}
}
@media (max-width: 479.98px) {
	.card__img {
		display: none;
	}
}
.card__flash-offer {
	position: relative;
}
.card__flash-offer:after {
	content: "Flash Offer";
	position: absolute;
	font-family: Muli;
	padding: 4px 9px;
	top: 25px;
	left: 0px;
	font-size: 8px;
	line-height: 10px;
	color: #FFF;
	background: #EC1F46;
	border-radius: 0px 4px 4px 0px;
}
.card__offer {
	padding: 30px 20px 25px 32px;
	color: #FFFFFF;
	background: #0A223D;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
@media (max-width: 991.98px) {
	.card__offer {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 50%;
		        flex: 1 0 50%;
	}
}
@media (max-width: 767.98px) {
	.card__offer {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 65%;
		        flex: 1 0 65%;
	}
}
.card__title {
	margin: 0px 0px 20px 0px;
}
.card__info {
	margin: 0px 0px 24px 0px;
	font-size: 12px;
	line-height: 15px;
}
.card__info_main {
	margin: 0px 0px 37px 0px;
	font-size: 12px;
	line-height: 15px;
}
.card__location {
	margin: 0px 0px 11px 0px;
	background: url("../img/icons/map-pin.svg") center left no-repeat;
	padding: 0px 0px 0px 23px;
}
.card__guest {
	margin: 0px 0px 11px 0px;
	background: url("../img/Section1/user.svg") center left no-repeat;
	padding: 0px 0px 0px 23px;
}
.card__room {
	background: url("../img/Section1/home.svg") center left no-repeat;
	padding: 0px 0px 0px 23px;
}
.card__sale {
	font-size: 14px;
	line-height: 18px;
	-webkit-text-decoration-line: line-through;
	        text-decoration-line: line-through;
}
.card__order {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.card__price {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
}
.card__btn {
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;
	padding: 11px 28px;
}

.about {
	padding: 40px 0px 70px 0px;
}
@media (max-width: 1122px) {
	.about {
		padding: 20px 0px 50px 0px;
	}
}
@media (max-width: 767.98px) {
	.about {
		padding: 0px 0px 30px 0px;
	}
}
.about__title {
	margin: 0px 0px 115px 0px;
}
@media (max-width: 1122px) {
	.about__title {
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 767.98px) {
	.about__title {
		margin: 0px 0px 10px 0px;
	}
}
.about__slider {
	position: relative;
	width: 1054px;
	margin: 0px auto;
}
@media (max-width: 1122px) {
	.about__slider {
		width: 950px;
	}
}
@media (max-width: 991.98px) {
	.about__slider {
		max-width: 740px;
	}
}
@media (max-width: 767.98px) {
	.about__slider {
		max-width: 470px;
	}
}
@media (max-width: 479.98px) {
	.about__slider {
		max-width: 320px;
	}
}
.about__slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 10px;
	height: 18px;
}
@media (max-width: 767.98px) {
	.about__slider .slick-arrow {
		top: 30%;
	}
}
.about__slider .slick-arrow.slick-prev {
	left: 0;
	background: url("../img/About/arrow-left.svg") 0 0/100% no-repeat;
}
@media (max-width: 767.98px) {
	.about__slider .slick-arrow.slick-prev {
		left: 10px;
	}
}
.about__slider .slick-arrow.slick-next {
	right: 0;
	background: url("../img/About/arrow-right.svg") 0 0/100% no-repeat;
}
@media (max-width: 767.98px) {
	.about__slider .slick-arrow.slick-next {
		right: 10px;
	}
}
.about__wrapper {
	max-width: 731px;
	margin: 0px auto;
	margin-top: 45px;
	background: #FFFFFF;
	border-radius: 8px;
	padding: 136px 95px 30px 100px;
	position: relative;
}
@media (max-width: 991.98px) {
	.about__wrapper {
		max-width: 650px;
		padding: 136px 50px 30px 50px;
	}
}
@media (max-width: 767.98px) {
	.about__wrapper {
		max-width: 470px;
		padding: 120px 30px 30px 30px;
	}
}
@media (max-width: 479.98px) {
	.about__wrapper {
		max-width: 320px;
	}
}
.about__card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	top: -45px;
	right: 42.5%;
}
.about__img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0px 0px 9px 0px;
}
.about__img img {
	max-width: 100%;
}
.about__name {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #EC1F46;
	margin: 0px 0px 10px 0px;
}
.about__date {
	font-size: 10px;
	line-height: 13px;
	color: #000000;
	margin: 0px 0px 4px 0px;
}
.about__stars {
	background: url("../img/Section1/Star.svg") center left space;
	width: 47px;
	height: 8px;
}
.about__text {
	max-width: 533px;
	margin: 0px auto;
	font-size: 12px;
	line-height: 160%;
	text-align: justify;
}

.slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.subscribe__img {
	height: 260px;
	position: relative;
}
.subscribe__offer {
	position: absolute;
	color: #FFFFFF;
	z-index: 5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 108px 0px 0px 0px;
	left: 50%;
	margin-left: -25%;
}
@media (max-width: 991.98px) {
	.subscribe__offer {
		display: block;
		padding: 50px 0px 0px 0px;
		left: 50%;
		margin-left: -25%;
	}
}
@media (max-width: 479.98px) {
	.subscribe__offer {
		left: 30%;
	}
}
@media (max-width: 991.98px) {
	.subscribe__text {
		margin: 0px 0px 20px 0px;
	}
}
.subscribe__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.subscribe__bg:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(10, 34, 61, 0.8);
}
.subscribe__subtitle {
	font-weight: 300;
	font-size: 24px;
	line-height: 30px;
}
.subscribe__title {
	font-weight: 600;
	font-size: 36px;
	line-height: 45px;
	text-transform: uppercase;
}
.subscribe__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px 0px 0px 139px;
}
@media (max-width: 991.98px) {
	.subscribe__form {
		margin: 0px 0px 0px 0px;
	}
}
.subscribe__email {
	font-weight: 300;
	font-size: 14px;
	color: #BDBDBD;
	padding: 0px 0px 0px 33px;
	height: 100%;
}
.subscribe__input {
	background: #FFFFFF;
	border-radius: 4px 0px 0px 4px;
	overflow: hidden;
}
.subscribe__button {
	border-radius: 0px 4px 4px 0px;
	overflow: hidden;
}
.subscribe__btn {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
	background: #EC1F46;
	padding: 20px 18px;
}

.activities {
	padding: 60px 0px 100px 0px;
}
@media (max-width: 1122px) {
	.activities {
		padding: 40px 0px 40px 0px;
	}
}
@media (max-width: 767.98px) {
	.activities {
		padding: 40px 0px 20px 0px;
	}
}
.activities__title {
	margin: 0px 0px 57px 0px;
}
@media (max-width: 1122px) {
	.activities__title {
		margin: 0px 0px 20px 0px;
	}
}
.activities__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0px -15px;
}
.activities__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 25%;
	        flex: 0 1 25%;
	padding: 0px 15px;
}
@media (max-width: 991.98px) {
	.activities__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 50%;
		        flex: 0 1 50%;
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 479.98px) {
	.activities__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}
.activities__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.activities__bg:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: -o-linear-gradient(270.17deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
	background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
}
.activities__item-title {
	position: relative;
	z-index: 5;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin: 0px 0px 18px 0px;
}
.activities__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding: 0px 0px 24px 27px;
	border-radius: 6px;
	overflow: hidden;
	height: 255px;
	position: relative;
}
.activities__btn {
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	padding: 7px 22px;
	position: relative;
	z-index: 5;
}